html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
canvas {
    display: block;
}
button {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: transparent;
    border: none;
}
button:hover {
    background: blueviolet;
    color: #fff;
    border-radius: 5px;
}

#profile-img {
    width: auto;
    height: 480px;
    margin: 0 auto;
}